// Color de Fondo
$colorFondo : #b5dcf6;

// Color fondo Cards
$colorCards:#D1F2EB;

$colorLetra : #EBD558 ;
$colorPequeno:#0BEEF5;


$fuenteExtraPequena: 6px;
$fuentePequena: 11.5px;
$fuenteNormal: 14.5px;
$fuenteGigante: 36px;
$fuenteExtraGigante: 44px;

$pantallaExtraSmall : 576px;
$pantallaMedium: 768px;